Package: picopilot-unmanned
Version: 1.4.6
Architecture: all
Description: Pi powered Copilot for Unmanned Systems.
Maintainer: stryngs <info@127.0.0.1>
Conflicts: picopilot-sentry
Section: net
Priority: optional
