<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}">
        <title>
            System Logs
        </title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 25%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <strong>Logs cannot be {{ action }} while the Telemetry Service is running</strong>
        </br>
        </br>
        <a href={{ url_for('system.index') }}>
            <button>
                Click here to return to System menu
            </button>
        </a>
        <a href={{ url_for('index') }} style="position:absolute; bottom:10px; left:10px;">
            <button>
                Click here to return to Main menu
            </button>
        </a>
    </body>
</html>
