Package: picopilot-idrop
Version: 1.0.8
Architecture: all
Section: net
Priority: optional
Description: Intrusion Detection Reaction Observation Platform for piCopilot.
Maintainer: stryngs <info@127.0.0.1>
