Package: picopilot-idrop
Version: 1.0.2
Architecture: all
Depends: picopilot, picopilot-scripts, picopilot-wifi, python3-psutil, gpsd
Section: net
Priority: optional
Description: Intrusion Detection Reaction Observation Platform for piCopilot.
Maintainer: stryngs <info@127.0.0.1>
