Package: picopilot
Version: 1.4.4
Architecture: all
Description: piCopilot provides autonomous functionality for the Raspberry Pi.
Maintainer: stryngs <info@127.0.0.1>
Section: net
Priority: optional
